.record {
  height: 68vh;
  width: 65vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.re {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.boxes {
  height: 30vh;
  width: 15vw;
  border-radius: 30px;
  padding: 15px;
  position: relative;
  background-color: var(--boxColor);

  box-shadow: 20px 20px 40px rgba(58, 62, 108, 0.5),
    inset 15px 15px 30px rgba(255, 255, 255, 0.5),
    inset -20px -20px 30px rgba(58, 62, 108, 0.6);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day {
  font-size: 16px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #7a85bc;
  margin-top: 15px;
}

.taskSection {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.tasks {
  color: #465abdc4;
}

.badges {
  display: flex;
  align-items: center;
  gap: 5px;
}

.badgeImg {
  height: 25px;
}

.level {
  height: 8px;
  width: 100%;
  background-color: #c1c2c4;
  border-radius: 10px;
  margin-top: 15px;
}

.levels {
  height: 8px;
  width: 80%;
  background-color: #7a85bc;
  border-radius: 10px;
}

.scoreSection {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.star {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 10px;
}

#star {
  height: 12px;
  width: 12px;
}

.review {
  font-size: 13px;
  color: rgba(29, 29, 29, 0.847);
  margin-top: 8px;
}

.records {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 64vh;
  width: 19vw;
  border-radius: 30px;
  background-color: var(--boxColor);

  box-shadow: 20px 20px 40px rgba(58, 62, 108, 0.5),
    inset 15px 15px 30px rgba(255, 255, 255, 0.532),
    inset -20px -20px 30px rgba(40, 43, 75, 0.6);
}

#history {
  position: absolute;
  top: -50px;
  left: 0;
  display: flex;
  gap: 10px;
  font-size: 24px;
}

.image {
  height: 30vh;
  width: 14vw;
}

#image {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 33%;
}

#earned {
  width: 18vw;
  text-align: center;
}

#many {
  position: absolute;
  bottom: -60px;
  left: 45%;
}

#many button {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  background-color: #8077ff;

  box-shadow: 10px 10px 20px rgba(58, 62, 108, 0.5),
    inset 0 5px 10px rgba(255, 255, 255, 0.5),
    inset -10px -10px 20px rgba(58, 62, 108, 0.6);
}