.box-shadow {
    
    transition-duration: 0.5s;
    overflow-x: hidden;
    /* animation: fade_up 1s ease-in-out 1; */
    background-color: transparent;
}

.box-shadow:hover{
    scale: 1.02;
}
.box-shadow:active{
    scale: 0.9;
}

.wipeIn{
    background-color: #fff;
    animation: wipe_in 1s ease-in-out 1  ;
    box-shadow:
        35px 35px 68px #3a3e6c50,
        inset 0 11px 28px #ffffff50,
        inset -8px -8px 16px #3a3e6c60;
}

@keyframes fade_up {
    0%{
        transform: translateY(1em);
        opacity: 0;
    }
    100%{
        transform: translateY(0em);
        opacity: 1;
    }
}
@keyframes fade_down {
    0%{
        transform: translateY(-1em);
        opacity: 0;
    }
    100%{
        transform: translateY(0em);
        opacity: 1;
    }
}
@keyframes wipe_in {
    0%{
        transform: translateX(-100%);
        /* opacity: 0; */
        box-shadow:
        0px 0px 0px #3a3e6c50,
        inset 0 11px 28px #ffffff50,
        inset -8px -8px 16px #3a3e6c60;
    }
    90%{
        box-shadow:
        0px 0px 0px #3a3e6c50,
        inset 0 11px 28px #ffffff50,
        inset -8px -8px 16px #3a3e6c60;
    }
    100%{
        transform: translateX(0);
        box-shadow:
        35px 35px 68px #3a3e6c50,
        inset 0 11px 28px #ffffff50,
        inset -8px -8px 16px #3a3e6c60;
        /* opacity: 1; */
    }
}