.big-box-shadow {
    transition-duration: 0.5s;
    overflow-x: hidden;
    background-color: var(--boxColor);
    box-shadow:
        35px 35px 68px #3a3e6c50,
        inset 0 12px 30px #ffffff50,
        inset -12px -12px 30px #3a3e6c60;
}

.medium-box-shadow {
    transition-duration: 0.5s;
    overflow-x: hidden;
    background-color: var(--boxColor);
    box-shadow:
        20px 20px 40px #3a3e6c50,
        inset 0 10px 20px #ffffff50,
        inset -8px -8px 16px #3a3e6c60;
}

.small-box-shadow {
    transition-duration: 0.5s;
    overflow-x: hidden;
    background-color: var(--boxColor);
    box-shadow:
        10px 10px 20px #3a3e6c50,
        inset 0 5px 10px #ffffff50,
        inset -5px -5px 10px #3a3e6c60;
}

.blue{ --boxColor: #7F77FF; }
.off-blue{ --boxColor: #D4D2FF; }
.dark-blue{ --boxColor: #8387C3; }
.red{ --boxColor: #FF7768; }
.yellow{ --boxColor: #F2C248; }
.green{ --boxColor: #54F248; }
.black{ --boxColor: #212121; }

.big-box-shadow:hover{
    scale: 1.02;
}
.big-box-shadow:active{
    scale: 0.9;
}