.MainHomePage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.imageBG {
    width: 100%;
    height: 100%;
    position: relative; 
    display: flex;
    align-items: center; 
}
.bgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
}
.navbar{
    width: 100%;
    height: 10%;
    z-index: 100;
    position: absolute;
}
.about-section{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
section.section-one.flex {
    height: 80%;
    width: 100%;
    /* position: absolute; */
}
.left-section {
    width: 60%;
    height: 70%;
    position: relative;
    flex-direction: column;
    z-index: 10;
    justify-content: space-between;
}
.right-section{
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.about-img{
    height: 80%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.about-content {
    width: 75%;
    height: 70%;
    position: relative;
    flex-direction: column;
    font-size: larger;
    text-align: center;
}
.about-heading.flex {
    font-size: xxx-large;
}
.about-sub-heading.flex {
    font-size: larger;
    height: 15%;
}
.about-content-one{
    width: 100%;
    height: 100%;
    position: relative;

}
.about-content-two{
    width: 100%;
    height: 100%;
    position: relative;
}
.about-content-three{
    width: 100%;
    height: 100%;
    position: relative;
}
.about-content-one p{
    font-size: 2rem;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.about-content-two p{
    font-size: 2rem;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.about-content-three p{
    font-size: 2rem;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.about-btn {
    height: 10%;
    width: 60%;
    color: white;
    font-size: small;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 20%;
}
.about-section-btn {
    height: 80%;
    width: 75%;
    border-radius: 1.2em;
    color: #30299C;
    background: linear-gradient(90deg, #C1CCFF 0%, #9590E0 100%);
}