.Home-AboutPage {
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.navbar{
    width: 100%;
    height: 10%;
    z-index: 100;
    position: relative;
}

.main-about-container {
    height: 90%;
    width: 100%;
    position: relative;
    z-index: 10;
}
.about-left-content {
    height: 100%;
    flex-direction: column;
    width: 60%;
}
.about-right-content {
    height: 100%;
    flex-direction: column;
    width: 40%;
}
.about-left-main-heading {
    height: 15%;
    width: 100%;
    font-size: xxx-large;
    font-family: "Syne", sans-serif;
    font-weight: 600;
}
.about-left-sub-heading {
    height: 5%;
    width: 100%;
    font-weight: 700;
    font-size: large;
}
.about-main-content {
    height: 40%;
    flex-direction: column;
    width: 70%;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.about-img{
    height: 60%;
}
img.About-comp-img {
    height: 100%;
}
.know-more-div{
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.know-more-btn {
    background: linear-gradient(90deg, #b4c1ff 0% 0%, #8680d3 100%);
    padding: 1em 5em;
    border-radius: 1em;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

/* Know More About us Page */

.more-about-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.KnowMore-div {
    height: 90%;
    width: 90%;
    position: relative;
    z-index: 10;
    overflow-x: scroll;
    border-radius: 2em;
    margin-bottom: 2em;
}
.KnowMore-div::-webkit-scrollbar {
    display: none;
}
.KnowMore-Content {
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 2em;
}
.know-more-top-descip{
    width: 100%;
}
.know-more-top-heading{
    font-size: xxx-large;
    font-family: "Syne", sans-serif;
    font-weight: 600;
    justify-content: end;
}
.know-more-top-sub-heading {
    width: 70%;
    font-size: larger;
    text-align: center;
    line-height: 30px;
    letter-spacing: 2%;
}
.About-Team-details{
    width: 100%;
}
.Team-Detail-Description{
    width: 100%;
}

.detail-name-container.flex.justify-start.items-center {
    font-size: x-large;
    gap: 1%;
}