.big-box-shadow {
    transition-duration: 0.5s;
    overflow-x: hidden;
    background-color: var(--boxColor);
    box-shadow:
        35px 35px 68px rgba(58, 62, 108, 0.5),
        inset 0 12px 30px rgba(255, 255, 255, 0.5),
        inset -12px -12px 30px rgba(58, 62, 108, 0.6);
}

.medium-box-shadow {
    transition-duration: 0.5s;
    overflow-x: hidden;
    background-color: var(--boxColor);
    box-shadow:
        20px 20px 40px rgba(58, 62, 108, 0.5),
        inset 0 10px 20px rgba(255, 255, 255, 0.5),
        inset -10px -10px 20px rgba(58, 62, 108, 0.6)
}

.small-box-shadow {
    transition-duration: 0.5s;
    overflow-x: hidden;
    background-color: var(--boxColor);
    box-shadow:
        10px 10px 20px rgba(58, 62, 108, 0.5),
        inset 0 5px 10px rgba(255, 255, 255, 0.5),
        inset -5px -5px 10px rgba(58, 62, 108, 0.6);
}

.white{ --boxColor: #FFFFFF; }
.blue{ --boxColor: #7F77FF; }
.off-blue{ --boxColor: #D4D2FF; }
.dark-blue{ --boxColor: #8387C3; }
.red{ --boxColor: #FF7768; }
.yellow{ --boxColor: #F2C248; }
.green{ --boxColor: #54F248; }
.black{ --boxColor: #212121; }

.big-box-shadow:hover{
    scale: 1.02;
}
.big-box-shadow:active{
    scale: 0.9;
}
.love-light-regular {
  font-family: "Love Light", cursive;
  font-weight: 400;
  font-style: normal;
}