*{
    margin: 0;
    padding: 0;
}
.MainHomePage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.imageBG {
    width: 100%;
    height: 100%;
    position: relative; /* Acts as the anchor for absolute children */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
}

.centerImg {
    /* position: absolute; */
    z-index: 10;
    width: 100%;
    height: 100%;
    
}

.centerPart {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 0%;
    left: -10%;
}
