*{
    margin: 0;
    padding: 0;
}
.MainHomePage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.centerImg {
    position: absolute;
    z-index: 10;
    height: 90%;
    bottom: 0;
    width: 100%;
}

.center-bg-img {
    height: 100%;
}
.navbar{
    width: 100%;
    height: 10%;
    z-index: 100;
    position: relative;
}

.Home-leftContent.flex {
    position: relative;
    z-index: 10;
    height: 100%;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    padding-top: 15%;
    padding-bottom: 5%;
    font-family: "Manrope", sans-serif;
}
.leftContentTop.flex {
    width: 100%;
    font-size: larger;
    padding: 0% 45% 0% 10%;
}
.leftContentBottom.flex {
    height: 25%;
    width: 60%;
    justify-content: end;
}

.start-learning-btn {
    color: white;
    border-radius: 3em;
    padding: 1em 8em 1em 3em;
    font-size: medium;
    font-weight: 500;
}
img.arrowPart {
    position: absolute;
    bottom: 17%;
    right: 15%;
}

.rightContent {
    position: relative;
    right: 5%;
    z-index: 20;
    color: rgb(0, 0, 0);
    width: 30%;
    font-size: larger;
    top: 40%;
}

.heading{
    font-size: xx-large;
    padding-left: 10%;
}
.sub-heading {
    font-size: large;
    padding-left: 50%;
    font-weight: 600;
}
.rightBottomContent {
    position: relative;
    z-index: 10;
    right: 0%;
    /* font-size: x-large; */
    width: 40%;
    bottom: 0%;
}

/* Adjusting the large script text sizes */
.topContent.love-light-regular {
    font-size: 14rem; 
    line-height: 0.7;
}

.bottomContent.love-light-regular {
    font-size: 7rem;
    margin-top: -20px;
    padding-left: 40%;
}
