@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
#root{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* Light Theme */
  background-image: linear-gradient(135deg, #fff, #7A85BC);
  /* Light Theme */
  /* Dark Theme */
  /* background-image: linear-gradient( 135deg , #4e5a94 , #7A85BC );  */
  /* Dark Theme */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.app-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

input , button , textarea , select {
  outline: none;
  border: none;
}