@import "tailwindcss";


#root{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(135deg, #fff, #7A85BC);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  cursor: url("/cursor.svg"), auto;
}
html {
  scroll-behavior: smooth;
}
::selection{
  background-color: #7A85BC;
  color: #fff;
}
.app-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-main-container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
}
input , button , textarea , select {
  outline: none;
  border: none;
}
  .flex-prop{
    display: flex;
    justify-content: center;
    align-items: center;
  }