 .right-section{
  width: 58%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.right-section::before{
  content: "";
  position: absolute;
  width: 760px;
  height: 800px;
  background: #7568ff;
  border-radius: 50%;
  top: -220px;
  right: -180px;
}

.welcome-text{
  position: absolute;
  top: 150px;
  right: 60px;
  z-index: 20;
  text-align: center;
  color: white;
}

.welcome-text h4{
  margin: 0;
  font-size: 38px;
  font-weight: bold;
}

.welcome-text h5{
  margin: 0;
  font-size: 26px;
}

.welcome-text h2{
  margin-top: 4px;
  font-size: 58px;
  font-weight: bold;
}

.circle{
   position: absolute; 
   border-radius: 50%;
   background: rgba(255,255,255,0.08);
   border: 1px solid rgba(255,255,255,0.4); 
   box-shadow: 0 0 8px rgba(255,255,255,0.1); 
                      } 
 
.c1{
  width: 35px;
  height: 35px;
  top: 30px;
 right: 45px;
}

.c2{
  width: 50px;
  height: 50px;
  top: 25px;
  right: 180px;
}

.c3{
  width: 95px;
  height: 95px;
  top: 45px;
  left: 200px;
}

.c4{
  width: 45px;
  height: 45px;
  top: 155px;
  left: 190px;
}

.c5{
  width: 90px;
  height: 90px;
  top: 310px;
  left: 420px;
}

.c6{
  width: 35px;
  height: 35px;
  top: 440px;
  right: 170px;
}

.c7{
  width: 32px;
  height: 32px;
  top: 320px;
  left: 600px;
}


.big-shadow-circle{
  position: absolute;
  width: 310px;
  height: 310px;
  background: rgba(123,105,255,0.16);
  border-radius: 50%;
  bottom: 45px;
  right: 250px;
  z-index: 1;
}

.right-shadow-circle{
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: rgba(105,85,255,0.22);
  bottom: -88px;
  right: -58px;
  z-index: 1;
}

.image1{
  position: absolute;
  bottom: -70px;
  right: -45px;
  z-index: 20;
}

.image1 img{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
}


.image2{
  position: absolute;
  bottom: 85px;
  right: 300px;
  z-index: 25;
}

.image2 img{
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.18);
}