.sidebar-container{
    height: 100%;
    padding: 0 0.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sidebar-box{
    padding: 0.5em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    aspect-ratio: 1/1;
}

.sidebar-box:hover{
    background-color: #c3c4d7;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 4px 4px 20px #ffffff;
    /* scale : 0 */
}

.sidebar-box-active{
    padding: 0.5em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    aspect-ratio: 1/1;
    background-color: #8A8CAC;
    transition: all 0.3s ease-in-out;
    box-shadow: inset -4px -4px 8px #3537529e, inset 0px 4px 8px #ffffff, 4px 4px 8px #8A8CAC;
}

.text-block{
    z-index: -1;
    font-size: smaller;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 5em;
    opacity: 0;
}

.sidebar-box:hover .text-block {
    padding: 0.5em 1em;
    z-index: 5;
    transform: translateX(calc(100% + 1em));
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.sidebar-box-active:hover .text-block{
    padding: 0.5em 1em;
    z-index: 5;
    transform: translateX(calc(100% + 1em));
    opacity: 1;
    transition: all 0.3s ease-in-out;
}


/* DashBoard */

.dash-navbar-container{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.dash-navbar-left{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-navbar-right{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dash-navbar-logo{
    height: 2.5em;
}

.dash-navbar-profile{
    height: 100%;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-navbar-menu{
    height: 100%;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-navbar-searchbar {
    display: flex;
    align-items: center;
    border-radius: 5em;
    padding: 0.75em 1em;
    width: 20%;
    justify-self: end;
}
input.dash-navbar-input-search {
    font-size: 10px;
    margin-left: 5%;
    color: white;
    letter-spacing: 5%;
}


/* DashBoard Layout */
.dash-container{
    height: 100vh;
    width: 100%;
}

.dash-sidebar {
    height: 90%;
}

.main-container{
    height: 90%;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
}

.dash-navbar {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-content{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    box-sizing: border-box  ;
}
